.container {
  width: 100%;
}

button {
  margin: 10px;
}

.text {
  text-align: center;
}

.hidden-elem {
  display: none;
}

.show-elem {
  display: inline-block;
}

/*#js {
  display: inline-block;
}

#op {
  display: none;
}

#var {
  display: none;
}

#var-name {
  display: none;
}

#func {
  display: none;
}

#meth {
  display: none;
}

#arg {
  display: none;
}

#par {
  display: none;
}

#retr {
  display: none;
}

#chain {
  display: none;
}

#string {
  display: none;
}

#boo {
  display: none;
}

#und {
  display: none;
}

#nan {
  display: none;
}

#esc {
  display: none;
}

#alert {
  display: none;
}

#com {
  display: none;
}

#jq {
  display: none;
}

#attr {
  display: none;
}*/
